/*
* @Author: ly
* @Date:   2017-12-26 17:09:15
* @Last Modified by:   ly
* @Last Modified time: 2017-12-26 17:10:18
*/


    .animate-show-hide {
      padding:10px;
      border:1px solid black;
      background:white;
    }
     
    .animate-show-hide.ng-hide-add, .animate-show-hide.ng-hide-remove {
      -webkit-transition:all linear 0.5s;
      -moz-transition:all linear 0.5s;
      -o-transition:all linear 0.5s;
      transition:all linear 0.5s;
      display:block!important;
    }
     
    .animate-show-hide.ng-hide-add.ng-hide-add-active,
    .animate-show-hide.ng-hide-remove {
      opacity:0;
    }
     
    .animate-show-hide.ng-hide-add,
    .animate-show-hide.ng-hide-remove.ng-hide-remove-active {
      opacity:1;
    }

